CreateModalidadesTable: create table "modalidades" ("id" serial primary key not null, "descricao" varchar(50) not null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null)
